body {
  background-color: #15202b;
}

#mainContainer {
  width: 100%;
  height: auto;
  outline: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  display: flex;
  position: absolute;
  bottom: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(157, 154, 154);
}

.container {
  width: 720px;
  height: 260px;

  border: 1px solid rgb(104, 104, 104);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.tweet {
  width: 719px;
  height: 190px;

  border: 1px solid rgb(104, 104, 104);
  display: flex;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  flex-direction: row;
}

.perfil {
  width: 720px;
  height: 100px;

  border: 1px solid #15202b;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.nick {
  display: flex;
  text-align: row;
}

.nick h1 {
  font-size: 28;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 5px;
  margin-top: 10px;
}

.nick h2 {
  color: rgb(123, 123, 123);
  font-family: "Montserrat", sans-serif;
  margin-top: -4px;
  margin-left: 4;
}

.nick {
  margin-top: -18;
  margin-left: -38;
}

.content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 72%;
  margin-left: 14;
}

.content h2 {
  color: rgb(75, 75, 75);
  margin-top: -10;
  margin-left: 2;
}

.icons {
  color: rgb(123, 123, 123);
  position: absolute;
  margin: 40;
  bottom: 62%;
  font-size: 28;
}

.icons button {
  background-color: #15202b;
  border: none;
  color: rgb(123, 123, 123);
  font-size: 27;
  cursor: pointer;
}

.ret {
  color: rgb(123, 123, 123);
  position: absolute;
  margin: 40;
  margin-left: 150px;
  bottom: -140%;
  font-size: 540;
}

.like {
  color: rgb(123, 123, 123);
  position: absolute;
  margin: 40;
  margin-left: 300px;
  bottom: -140%;
  font-size: 28;
}

.save {
  color: rgb(123, 123, 123);
  position: absolute;
  margin: 40;
  margin-left: 450px;
  bottom: -140%;
  font-size: 28;
}

.share {
  color: rgb(123, 123, 123);
  position: absolute;
  margin: 40;
  margin-left: 600px;
  bottom: -140%;
  font-size: 28;
}
